.home-container {
  padding: 0;
  padding-bottom: 100px;
  font-family: sans-serif;
  background:rgb(255, 255, 255);
  min-height: 100vh;
}

/* Header */
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: rgba(107, 206, 246, 0.62);
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 50;
}

/* Search */
.search-wrapper {
  position: relative;
  flex: 1;
}

.search-bar {
  width: 100%;
  height: 40px;
  padding: 1.7rem 1rem 0.7rem 2.5rem;
  font-size: 1.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #888;
  pointer-events: none;
}

/* Icons (wishlist and cart) */
.header-icons {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}

.header-icons .icon {
  font-size: 1.9rem;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease;
}

.header-icons .icon:hover {
  color:rgb(255, 34, 0);
}
.cart-icon .icon:hover {
  color: black;
}

/* Location bar (conditionally visible) */
.location-bar {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.location-icon {
  font-size: 1.5rem;
  color:rgb(0, 0, 0);
  margin-right: 0.8rem;
}

.location-text {
  text-align: left;
}

.delivered-label {
  font-size: 0.8rem;
  color: #666;
  display: flex;
}

.user-info {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}
